/*
!.gitignore

!wp-content/
wp-content/*
!zip_files/

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/twentytwentyone-child
wp-content/themes/twentytwentyone-child/node_modules
wp-content/themes/twentytwentyone-child/.vscode

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
