/*
!.gitignore

!wp-content/
wp-content/*
!zip_files/

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/template
wp-content/themes/template/node_modules
wp-content/themes/template/.vscode

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
